@using DataBase.Models;
@model UrlTable
@{
    ViewData["Title"] = "Add a new Url";
}
<form method="post" action="@Url.Action("AddUrl", "TableURL")">
    <div>
        <label for="FullUrl">Full URL:</label>
        <input type="text" id="OriginalUrl" name="OriginalUrl" required />
    </div>
    <div>
        <label for="UserId">User ID:</label>
        <input type="text" id="UserId" name="UserId" required />
    </div>
    

    <div>
        <input type="submit" value="Add URL" />
    </div>
</form>